<div class="container-fluid">
		<div class="row justify-content-center">
				<div class="col col-md-8 col-lg-6">
						<div class="card text-white bg-primary mt-3">
						<div class="card-header text-center">
						<h1>Yoel Velasquez Valencia</h1>
						<h3>Freelance</h3>
						<h5>Fullstack</h5>
						</div>
						<ul class="list-group list-group-flush fa-ul">
								<li class="list-group-item"><span class="fa-stack fa-2x d-block" >
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
										</span>
										<a href="mailto:Yoel.velasquez.valencia@gmail.com">{ yoel.velasquez.valencia@gmail.com }</a></li>
								<li class="list-group-item"><span class="fa-stack fa-2x d-block" >
										<i class="fas fa-circle fa-stack-2x"></i>
										<i class="fab fa-skype fa-stack-1x fa-inverse"></i>
										</span>
										<a href="javascript:void(0);">{ Yoelkj }</a></li>
								<li class="list-group-item"><span class="fa-stack fa-2x d-block" >
												<i class="fas fa-circle fa-stack-2x"></i>
												<i class="fas fa-link fa-stack-1x fa-inverse"></i>
										</span>
										<a href="http://velcodi.com">{ velcodi.com }</a></li>
						</ul>
						<!--
						<div class="card-body"></div>
						-->
						<div class="card-footer">
								<p class="text-right">Sinatra - Ruby - webapp</p>
						</div>
						</div>
				</div>
		</div>
	</div>
	</div>